
@font-face {
    font-family: 'MyFont';
    src: url('./font1.woff') format('woff'),
    url('./font2.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

body {
    background: url('./colour.png');
}

.hello {
    color: red;
    font-family: 'MyFont';
    font-size: 10em;
}